a8:
  id:
  password:
afb:
  id:
  password:
access_trade:
  id:
  password:
felmat:
  id:
  password:
mosimo:
  id:
  password:
presco:
  id:
  password:
rentracks:
  id:
  password:
value_commerce:
  id:
  password:
